# Autor: Pablo Veloz M.
## Desafío - Regresión desde el aprendizaje de máquinas

In [78]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from scipy import stats 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.patches as mpatches
#import lec4_graphs as gfx
import ipywidgets as widgets 
from ipywidgets import interact, interact_manual
from IPython.display import display
from ipywidgets import Checkbox
#from sklearn.linear_model import LinearRegression
#from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.cluster import KMeans
df = pd.read_csv('boston.csv', encoding = 'ISO-8859-1',sep=',', engine='python')

### Desafío 1: Prepare el ambiente de trabajo
* Importe las librerías básicas para el análisis de datos.
* Importe el módulo linear_model , y las funciones mean_squared_error , r2_score y train_test_split .
* Importe la base de datos boston.csv y elimine la columna Unnamed: 0 .
* Obtenga las medidas descriptivas de la base de datos con .describe() .

In [79]:
df=df.drop("Unnamed: 0",axis=1)

In [80]:
print(df.shape)
df.head()

(506, 14)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [81]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

### Desafío 2: División de la muestra
* Genere conjuntos de entrenamiento y validación con train_test_split .
* Genere segmentaciones del 33% para las muestras de validación.
* Incluya una semilla pseudoaleatoria

In [82]:
y_vec=df["medv"]
X_mat=df.loc[:,["crim","zn","indus","chas","nox","rm","age","dis","rad","tax","ptratio","black","lstat"]]
X_train,X_test,y_train,y_test=train_test_split(X_mat,y_vec,test_size=0.33,random_state=42)
#print("datos entrenados medv",y_vec,y_train)
tmp = pd.DataFrame({'medv originales': y_vec,'medv Entrenados': y_train})
tmp=tmp.dropna()
print(tmp.head(10))
#print(X_mat["zn"].head(10))
#print(X_train["zn"].head())
#X_train=X_train.values.reshape([X_train.values.shape[0],1])
#X_test=X_test.values.reshape([X_test.values.shape[0],1])
#def correlations(column1=list(df.select_dtypes("number").columns),column2=list(df.select_dtypes("number").columns)):
#                 print(f"Correlation:{df[column1].corr(df[column2])}")

#
@interact
def machine_Xtrain_test(Variable=list(["crim","zn","indus","chas","nox","rm","age","dis","rad","tax","ptratio","black","lstat"])):
    column1=Variable
    y_vec=df["medv"]
    X_mat=df.loc[:,["crim","zn","indus","chas","nox","rm","age","dis","rad","tax","ptratio","black","lstat"]]
    X_train,X_test,y_train,y_test=train_test_split(X_mat,y_vec,test_size=0.33,random_state=42)
    tmp = pd.DataFrame({'Originales '+str(column1): X_mat[column1],'Entrenados '+str(column1): X_train[column1]})
    tmp2 = pd.DataFrame({'Originales '+str(column1): X_mat[column1],'Testeados '+str(column1): X_test[column1]})
    tmp=tmp.dropna()
    tmp=tmp.head(10)
    return tmp

    medv originales  medv Entrenados
1              21.6             21.6
4              36.2             36.2
6              22.9             22.9
7              27.1             27.1
8              16.5             16.5
10             15.0             15.0
12             21.7             21.7
13             20.4             20.4
14             18.2             18.2
20             13.6             13.6

interactive(children=(Dropdown(description='Variable', options=('crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'a…


### Desafío 3: Generación de modelos
* Ahora implementaremos dos versiones del modelo lineal:
* Con intercepto y atributos normalizados.
* Sin intercepto y atributos no normalizados.
* Cada versión debe generarse en un nuevo objeto inicializado.
* Posteriormente se deben entrenar los modelos especificando la matriz y vector de entrenamiento.
* Con los modelos entrenados, genere una predicción de matriz de validación.

In [83]:
model_1=linear_model.LinearRegression(fit_intercept=True, normalize=True)
model_2=linear_model.LinearRegression(fit_intercept=False, normalize=False)

modelo1_entrenado=model_1.fit(X_train,y_train)
modelo2_entrenado=model_2.fit(X_train,y_train)

y_modelo1_pred=modelo1_entrenado.predict(X_test)
y_modelo2_pred=modelo2_entrenado.predict(X_test)

### Desafío 4: Obtención de métricas
* Ahora generemos una función llamada report_scores que ingrese como argumentos el vector de datos predichos y el vector de datos por validar.
* La función debe imprimir las métricas del Error Cuadrático Promedio y R2.
* Reporte las métricas para ambos modelos. En base a ello, seleccione el mejor modelo.

In [114]:
print("Normalize: True")
print("Error MSE: ", mean_squared_error(y_test,y_modelo1_pred))
print("El valor de r**2: ",r2_score(y_test,y_modelo1_pred))
print("Normalize: False")
print("Error MSE: ", mean_squared_error(y_test,y_modelo2_pred))
print("El valor de r**2: ",r2_score(y_test,y_modelo2_pred))

Normalize: True
Error MSE:  20.724023437339763
El valor de r**2:  0.7261570836552476
Normalize: False
Error MSE:  23.60384463049171
El valor de r**2:  0.6881037280185591

### Desafío 5: Refactorización del modelo
* Genere una función llamada fetch_features que ingrese como argumentos la base de datos y el nombre del vector objetivo. El nombre del vector debe ser medv por defecto
* La función debe retornar una lista con las correlaciones entre cada atributo y el vector objetivo y su nombre.
* Reporte brevemente cuales los 6 atributos con una mayor correlación con medv

In [109]:
@interact
def p_valor(column1="medv",column2=list(df.columns)):
    var_stats=df[column1].corr(df[column2])
    print(f"Correlacion:{var_stats}")
    string_p_valor=""
    lista_columnas=[]
    lista_p_valores=[]
    lista_abs=[]
    dict_p_valores={}
    for i in list(df.select_dtypes("number").columns):
        if i!="medv":
            var_stats=df["medv"].corr(df[i])
            lista_columnas.append(i)
            lista_p_valores.append(var_stats)
            lista_abs.append(abs(var_stats))
    
    dict_p_valores=dict(zip(lista_columnas,lista_p_valores))
    tmp=pd.DataFrame({"Columnas Relacionadas con medv":lista_columnas,"corr":lista_p_valores
                       ,"corr_abs":lista_abs})
    tmp=tmp.set_index('Columnas Relacionadas con medv')
    tmp=tmp.sort_values(by=['corr_abs'],ascending=False)
    return tmp

interactive(children=(Text(value='medv', description='column1'), Dropdown(description='column2', options=('cri…

### La variables son:
* __nox__
* __tax__
* __indus__
* __ptratio__
* __rm__
* __lstat__

### Desafío 6: Refactorización del modelo predictivo
* Genere otros conjuntos de entrenamiento y validación en base a una matriz con los 6 atributos identificados y el vector objetivo.
* Entrene un modelo en base al mejor desempeño.
* Reporte las métricas para el nuevo modelo.

In [127]:
y_vec=df["medv"]
X_mat6=df.loc[:,["lstat","rm","ptratio","indus","tax","nox"]]
X_train6,X_test6,y_train6,y_test6=train_test_split(X_mat6,y_vec,test_size=0.33,random_state=42)

model_1_6=linear_model.LinearRegression(fit_intercept=True, normalize=True)
model_2_6=linear_model.LinearRegression(fit_intercept=False, normalize=False)

modelo1_entrenado_6=model_1_6.fit(X_train6,y_train6)
modelo2_entrenado_6=model_2_6.fit(X_train6,y_train6)

y_modelo1_pred_6=modelo1_entrenado_6.predict(X_test6)
y_modelo2_pred_6=modelo2_entrenado_6.predict(X_test6)


print("Normalize para 6: True")
print("Error MSE: ", mean_squared_error(y_test6,y_modelo1_pred_6))
print("El valor de r**2: ",r2_score(y_test6,y_modelo1_pred_6))
print("Normalize para 6: False")
print("Error MSE: ", mean_squared_error(y_test6,y_modelo2_pred_6))
print("El valor de r**2: ",r2_score(y_test6,y_modelo2_pred_6))

Normalize para 6: True
Error MSE:  24.999580766427098
El valor de r**2:  0.6696607622948452
Normalize para 6: False
Error MSE:  25.976300846577598
El valor de r**2:  0.6567545871976399

### Desafío 7: Predicción de casos
* A continuación se generaron dos arrays que representan el peor escenario posible ( worst_neighbor ) y el mejor escenario posible ( best_neighbor ).
* Ingrese los arrays en el modelo entrenado y reporte cuál sería el valor esperado dada las condiciones.

#Con Normalize e Intercepto

In [128]:
worst_neighbor = np.array([37.9, 12.6, 3.5, 27.7, 187, 0.87]).reshape(1, -1)
best_neighbor = np.array([1.73, 22, 8.7, 0.46, 711, 0.38]).reshape(1, -1)

In [129]:
y_modelo1_pred_6_worst=modelo1_entrenado_6.predict(worst_neighbor)
y_modelo1_pred_6_best=modelo1_entrenado_6.predict(best_neighbor)

print("Valor Casa Peor Vecindario:",y_modelo1_pred_6_worst)
print("Valor Casa Mejor Vecindario:",y_modelo1_pred_6_best)

Valor Casa Peor Vecindario: [49.78447706]
Valor Casa Mejor Vecindario: [106.28725843]

### Sin Normalize y sin Intercepto

In [132]:
y_modelo2_pred_6_worst=modelo2_entrenado_6.predict(worst_neighbor)
y_modelo2_pred_6_best=modelo2_entrenado_6.predict(best_neighbor)

print("Valor Casa Peor Vecindario:",y_modelo2_pred_6_worst)
print("Valor Casa Mejor Vecindario:",y_modelo2_pred_6_best)

Valor Casa Peor Vecindario: [56.56114351]
Valor Casa Mejor Vecindario: [123.4997754]