# Autor: Pablo Veloz

In [1]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv("worldcup2014.csv")
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

# Desafío 1
* Genere funciones para calcular la media y varianza de un vector. 
Debe cumplir con los siguientes requistos:
* Ambas funciones deben ingresar un argumento x .
* Las funciones deben contener docstrings con la documentación asociada a la variable.
* Deben retornar el resultado (tip: utilice return ).

In [72]:
def media(x):
    """
    -Esta funcion calcula el promedio de un vector 
    -Su argumento exige un vector pd.Series
    -Retorna el promedio de un pd.Series
    """
    if isinstance(x,pd.Series) is True:
        if x.dtype!="object":
            x= x.dropna()
            tmp_prom= np.mean(x)
            return tmp_prom
        else:
            raise TypeError("la serie no contiene datos de tipo numerico")
    else:
        raise TypeError("El dato ingresado no es una serie")

In [73]:
def varianza(x):
    """
    -Esta funcion calcula la varianza de un vector 
    -Su argumento exige un vector pd.Series
    -Retorna la varianza de un vector pd.Series
    """
    if isinstance(x,pd.Series) is True:
        if x.dtype!="object":
            x= x.dropna()
            tmp_prom= funcion_media(x)
            var_1=0
            tmp_var=0
            for columna,serie in x.iteritems():
                var_1+=(tmp_prom-serie)**2
                tmp_var=var_1/(len(x)-1)
            return tmp_var
        else:
            raise TypeError("la serie no contiene datos de tipo numerico")
    else:
        raise TypeError("El dato ingresado no es una serie")

# -Estadísticas-
* La función de la varianza debe llamar a la función de la media.
* Utilice las funciones para reportar la información sobre goles_favor , goles_contra ,puntos.

In [74]:
print(" -Goles a favor-")
print(" Promedio es: {} y la Varianza es: {}".format(media(df["goles_favor"]),varianza(df["goles_favor"])))

 -Goles a favor-
 Promedio es: 4.25 y la Varianza es: 5.354838709677419

In [75]:
print(" -Goles en contra-")
print(" Promedio es: {} y la Varianza es: {}".format(media(df["goles_contra"]),varianza(df["goles_contra"])))

 -Goles en contra-
 Promedio es: 4.25 y la Varianza es: 4.967741935483871

In [76]:
print(" -Puntos-")
print(" Promedio es: {} y la Varianza es: {}".format(media(df["puntos"]),varianza(df["puntos"])))

 -Puntos-
 Promedio es: 4.21875 y la Varianza es: 8.305443548387096

# Desafío 2

* A continuación se presenta el siguiente código para obtener la media y varianza de una variable para distintos continentes

In [86]:
continent = []
store_mean = []
store_std = []
africa_df=df[df["continent"]=="africa"]
europe_df=df[df["continent"]=="europe"]
asia_df=df[df["continent"]=="asia"]
northamerica_df=df[df["continent"]=="northamerica"]
southamerica_df=df[df["continent"]=="southamerica"]
for d in [africa_df, europe_df, asia_df, northamerica_df, southamerica_df]:
    continent.append(d.iloc[0,1])
    store_mean.append(media(d['goles_favor']))
    store_std.append(varianza(d['goles_favor']))
    tmp = pd.DataFrame({'continente': continent,'media_goles': store_mean,'std_goles': store_std})
tmp

     continente  media_goles  std_goles
0        africa     3.600000   3.300000
1        europe     4.769231   6.858974
2          asia     2.250000   0.916667
3  northamerica     3.250000   2.250000
4  southamerica     5.666667   4.666667

* En base a la información disponible, genere una función con los argumentos group_by y var para ingresar una lista de submuestras y una variable a analizar, respectivamente.
* La función debe retornar un DataFrame .
* Implemente la función para extraer la información sobre la cantidad de goles a favor, en contra y la cantidad de puntos.

In [218]:
def data_datos(group_by,var):
    continent = []
    store_mean = []
    store_std = []
    f=[]
    for i in group_by:
        #print(i)
        continent.append(i.iloc[0,1])
        f.append(i[str(var)].sum())
        store_mean.append(media(i[str(var)]))
        store_std.append(varianza(i[str(var)]))
        tmp = pd.DataFrame({'continente': continent,'frecuencia':f,'media_'+str(var): store_mean,'std_'+str(var): store_std})
    return tmp
        #media(df.groupby([i]))

# goles a favor por Contiente

In [219]:
data_datos([africa_df, europe_df, asia_df, northamerica_df, southamerica_df],'goles_favor')

     continente  frecuencia  media_goles_favor  std_goles_favor
0        africa          18           3.600000         3.300000
1        europe          62           4.769231         6.858974
2          asia           9           2.250000         0.916667
3  northamerica          13           3.250000         2.250000
4  southamerica          34           5.666667         4.666667

# goles en contra por Continente

In [220]:
data_datos([africa_df, europe_df, asia_df, northamerica_df, southamerica_df],'goles_contra')

     continente  frecuencia  media_goles_contra  std_goles_contra
0        africa          28            5.600000          4.800000
1        europe          52            4.000000          3.833333
2          asia          25            6.250000          4.250000
3  northamerica          14            3.500000         11.000000
4  southamerica          17            2.833333          0.566667

# Puntos por Continente

In [221]:
data_datos([africa_df, europe_df, asia_df, northamerica_df, southamerica_df],'puntos')

     continente  frecuencia  media_puntos  std_puntos
0        africa          12      2.400000    3.300000
1        europe          61      4.692308    6.897436
2          asia           3      0.750000    0.250000
3  northamerica          18      4.500000   11.000000
4  southamerica          41      6.833333    3.766667

* Reporte en qué continente se encuentra la mayor cantidad de goles a favor, en contra y cantidad de puntos.

* El continente con la mayor cantidad de goles a favor es: SouthAmerica
* El continente con la mayor cantidad de goles en contra es: Asia
* El continente con la mayor cantidad de Puntos es : SouthAmerica

# Desafío 3: Simulaciones

* Genere una función generate_pet que devuelva de forma aleatoria un string 'perro' o 'gato' . Ejecútela un par de veces.
* tip: Puede utilizar la función np.random.choice para retornar elementos al azar.

In [273]:
def generate_pet():
    lista=["perro","gato"]
    a=np.random.choice(lista)
    return a

* Aplique la función generate_pet 20 veces mediante un loop y guarde los resultados en una lista.

In [274]:
lista=[]
for i in range(21):
    lista.append(generate_pet())
print(lista)

['gato', 'perro', 'perro', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'perro', 'perro', 'perro', 'perro', 'perro', 'gato', 'gato', 'gato', 'perro']

* ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?

In [275]:
def prob_gato_perro(listado):
    cont_p=0
    prob_p=0
    cont_g=0
    prob_g=0
    for i in listado:
        if i=="perro":
            cont_p+=1
            prob_p=cont_p/len(listado)
        elif i=="gato":
            cont_g+=1
            prob_g=cont_g/len(listado)
    return prob_p,prob_g

In [276]:
prob_perro,prob_gato = prob_gato_perro(lista)
print("La probabilidad que sea perro es: {}% y que sea gato es: {}%".format(100*prob_perro,100*prob_gato))

La probabilidad que sea perro es: 38.095238095238095% y que sea gato es: 61.904761904761905%

* Agrege np.random.seed(2) al inicio del chunk. ¿Qué hace éste método en la simulación?

In [296]:
def generate_pet():
    lista=["perro","gato"]
    np.random.seed(2)
    a=np.random.choice(lista)
    return a
generate_pet()

'gato'

In [299]:
lista2=[]
for i in range(20):
    lista2.append(generate_pet())
print(lista2)

['gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato']

In [300]:
lista2=[]
for i in range(20):
    lista2.append(generate_pet())
print(lista2)

['gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato']

* ¿Qué hace éste método en la simulación?
* El método random.seed(2) preserva el valor aleatorio obtenido en un primer intento y se setea en caso de obtener nuevos resultados y poder comparar y disminuir errores en un evento pseudoestocasticos.

# Desafío 4: Función simuladora

* Genere un método llamado simulate_pets_prob que tome como argumento un número finito de simulaciones a generar.
* De los dos animales simulados, contar las ocasiones donde por lo menos uno de los animales sea un perro.
* De los dos animales simulados, contar las ocasiones donde por lo menos uno sea un perroviejo
* De los dos animales simulados, contar las ocasiones donde los dos sean perros

In [320]:
def simulate_pets_prob(n):
    
    lista=["perro","gato"]
    cont_p=0
    cont_solo_p=0
    cont_pyp=0
    for i in range(n):
        young_pet=np.random.choice(lista)
        old_pet=np.random.choice(lista)
        if young_pet =="perro" or old_pet=="perro":
            cont_p+=1
        if old_pet =="perro":
            cont_solo_p+=1
        if young_pet =="perro" and old_pet=="perro":
            cont_pyp+=1
    
    
    return cont_p/n,cont_solo_p/n,cont_pyp/n

p1,p2,p3=simulate_pets_prob(100)

print(" La probabilidad de ser al menos un perro : {}  La probabilidad de ser por lo menos uno sea un perro viejo: {} La probabilidad donde los dos sean perros: {}".format(p1,p2,p3))

 La probabilidad de ser al menos un perro : 0.75  La probabilidad de ser por lo menos uno sea un perro viejo: 0.52 La probabilidad donde los dos sean perros: 0.25

- Utilizando n=100 repeticiones 
* La probabilidad menos probable es que sean ambos perros
* El caso más probable es que sea al menos un perro